.newAlbum{
    width: 100vw;
}

.newAlbum_static{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px;
}

.newAlbum_static > button {
    width: 120px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--black-color);
    color: var(--primary-color);
    border: none;
}

.newAlbum_static > button:hover{
    cursor: pointer;
}

.newAlbum_static > h3 {
    width: 130px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--white-color);
    border: none;
}

.newAlbum_cards{
    display: flex;
}